/* Menata navigasi */



  /* Menata logo dan nama WashWiz */
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logoatas {
    width: 90px;  /* Ukuran logo yang lebih kecil agar sesuai dengan teks */
    height: auto;
  }
  
  .logobwh {
      width: 900px;  /* Ukuran logo yang lebih kecil agar sesuai dengan teks */
      height: auto;
    }
    
  h1 {
    font-family: 'Magneto', cursive;
    font-size: 25px;  /* Menyesuaikan ukuran teks dengan ukuran logo */
    font-weight: bold;
    margin: 0;
    color: white;
  }
  
  /* Menata menu navigasi */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  ul li {
    margin: 0 20px;
  }
  
  ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  ul li a:hover {
    color: #cd0303; /* Memberikan efek hover berwarna merah */
  }
  
  /* Menata tombol download */
  .button-download {
    background-color: #cd0303;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
  }
  
  .button-download:hover {
    background-color: #9b0202; /* Efek hover pada tombol download */
  }
  

  /* Mengatur body dan font dasar */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  .content{
    margin-left: 20px;
    margin-right: 20px;
    font-family: inria sans, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Mengatur tinggi konten agar memenuhi layar */
  }
  
  /* Container utama */
  .home {
    position: relative;
    text-align: center;
    padding: 50px 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  /* Mengatur bagian konten utama */
  .home-content {
    align-items: center;
    z-index: 2;
    position: absolute;
    color: white;
    position: absolute;  
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    max-width: 1000px;
    padding-top: 120px;
    margin-top: 250px;
    
    /* text-align: center; */
  }
.price{
    top: 10px;
    margin-top: 10px;
    font-size: 10px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}
.product{
    display: flex;
    justify-content: center;
    padding: 20px;
    

}

.productL{
    align-items: flex-start;
    text-align: left;
    margin-bottom: 10px;
    height: 150px;
}

.product-button{
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #fff; /* Border putih */
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none; /* Menghapus garis bawah */
    border-radius: 5px; /* Membuat sudut border melengkung */
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-right: 10px;
}
.product-button:hover {
    background-color: #ff0000; /* Warna latar belakang saat hover */
    color: #181818; /* Warna teks saat hover */
}
.product a {
    color: aliceblue;
    text-decoration: none;
    border: 2px solid #ff0000;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-top: 120px;
    
}

.product-item {
    background-color: #fff;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    width: 300px; /* Menentukan lebar tetap untuk semua kotak */
    height: 490px; /* Menentukan tinggi tetap untuk kotak */
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    position: relative;
    z-index: 1;  
    display: flex;
    flex-direction: column; /* Mengatur elemen di dalam kotak secara vertikal */
    justify-content: space-between; /* Memastikan konten di dalam kotak tersusun dengan ruang yang sama */

}

.product-item .content {
  flex-grow: 1; /* Memastikan deskripsi dan harga tetap fleksibel dan mengisi ruang yang tersedia */
}

.product-item:hover {
    transform: scale(1.05); /* Efek zoom-in saat hover */
}

.product-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-item h3 {
    font-size: 1.5em;
    margin: 15px 0;
}

.product-item p {
  font-size: 1.5em;
  margin: 10px;
  font-family: 'Inria Sans', sans-serif;
}

.product-item strong {
    font-size: 1.2em;
    color: #f0b90b;
}

.product-item button {
  padding: 10px 20px;
  background-color: #ff0000;
  color: #181818;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: auto;
}

.product-item button:hover {
    background-color: #cd0303;
    color: white;
}
.product-item p {
    font-size: 0.9em; /* Ukuran teks harga */
    color: #f0b90b;
    font-weight: bold;
}
 
  
  /* Logo */
  .logo {
    max-width: 500px;
    height: auto;
    margin-bottom: 20px;
  }
  
  /* Judul besar dengan tulisan berwarna merah */
  h1 {
    font-size: 60px;
    margin: 0;
    font-weight: bold;
  }
  
  h1 .win {
    color: red;
  }
  
  /* Deskripsi kecil */
  p {
    font-size: 18px;
    color: #ddd;
    line-height: 1.6;
    margin-bottom: 30px;
    padding: 0 20px;
  }
  
  /* Tombol Explore Our Packages */
  .trailer-button a {
    font-size: 20px;
    padding: 12px 25px;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: 2px solid transparent;
  }
  
  /* Efek hover pada tombol */
  .trailer-button a:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  /* Gambar-gambar lainnya */
  .rectangle {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  
  .rectangle:nth-of-type(1) {
    left: 0;
  }
  
  .rectangle:nth-of-type(2) {
    right: 0;
  }
  
  .thumbnail {
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
  }
  
  /* Responsiveness */
  @media screen and (max-width: 768px) {
    .home-content {
      width: 90%;
    }
  
    h1 {
      font-size: 40px;
    }
  
    .trailer-button a {
      font-size: 18px;
      padding: 10px 20px;
    }
  }
  
  .home-content .trailer-button a{
      margin-left: 30px;
      text-align: center;
      text-decoration: none;
      margin: auto;
      width: fit-content;
      border: solid white;
      color: white;
      font-size: 30px;
      border-width: 4px;
      padding: 5px 20px;
      transition: ease-in-out 0.4s;
      cursor: default;
  }
  
  .home-content .trailer-button a:hover{
      box-shadow: inset 330px 0 0 0  #CD0303;
      border-color: #CD0303;
  }
  .home .rectangle{
      z-index: 9;
      position: absolute;
      height: 100%;
  }
  .rectangle:nth-of-type(1){
      left: 0;
  }
  .rectangle:nth-of-type(2){
      right: 0;
  }
  .rectangle:nth-of-type(3){
      left: 0;
  }
  .thumbnail{
      z-index: -1;
      width: 100%;
      height: 100%;
  }
  
  .thumbnail::before {
      background-color: rgb(0, 0, 0, 0.2);
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      content: "";
  }
  .segment-2{
      position: relative;
      align-items: center;
  }
  .segment-2 .content-text{
      z-index: 1;
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 50px;
      color: white;
      width: 400px;
      text-align: end;
      align-items: end;
  }
  .segment-2 .content-text h1{
      font-size: 70px;
      margin: 0;
  }
  .segment-2 .content-text .segment-button{
      color: #CD0303;
      text-decoration: none;
      background-color: #EBFF00;
      padding: 5px 20px;
      font-size: 30px;
      border-radius: 10px;
  }
  .segment-2 .content-text p{
      width: 400px;
  }
  .segment-2 .learn-more-button {
      color: #0D0E22;
      text-decoration: none;
      background-color: #d9d9d9;
      font-size: 20px;
      padding: 10px 20px;
      border-radius: 10px;
  }
  
  /* responsive */
  @media screen and (max-width: 768px){
      .home-content{
          display: flex;
          flex-direction: column;
      }
      .segment-2 .content-text{
          width: 90%;
          right: 10px;
          text-align: start;
      }
      .segment-2 .content-text h1{
          font-size: 60px;
      }
      .home-content img{
          width: 50%;
      }
      .home-content .trailer-button a{
          font-size: 20px;
      }
      .segment-2 .content-text h1{
          font-size: 50px;
      }
  }